# Pants workspace files
/.pants.d/
/dist
/.pids
/.pants.workdir.file_lock*

# Python files
__pycache__/
*.pyc
.venv/

#pants uses its own locking
poetry.lock

#local 
.envrc
.python-version

#saved models, tokenizers, etc.
*.pkl
*.eqx